backup-мой-lo6csGQH6ghQDKHt.json
{"updatedAt":"2025-11-19T16:32:00.659Z","createdAt":"2025-11-12T10:18:32.001Z","id":"lo6csGQH6ghQDKHt","name":"BACKUP  мой","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"472d9b35-69ba-4b53-8087-47c65416b94d","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-5984,544]},{"parameters":{"options":{}},"id":"a9dd204f-841d-4060-b484-44e64f213d6a","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-5792,544]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"9c302a82-4893-4a2f-9895-5a85f0e0cee3","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-5584,544]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"046dcb66-cf91-48f0-806c-8ce193d4ecc0","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-5392,544]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"Senja230310-collab","mode":"list","cachedResultName":"Senja230310-collab","cachedResultUrl":"https://github.com/Senja230310-collab"},"repository":{"__rl":true,"value":"n8n_becap1911","mode":"list","cachedResultName":"n8n_becap1911","cachedResultUrl":"https://github.com/Senja230310-collab/n8n_becap1911"},"filePath":"="},"id":"1860fa7a-ea03-4320-9e34-5687d847ca4d","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-5184,544],"alwaysOutputData":true,"webhookId":"67a4b76f-4de3-4bc7-9265-267c9bcfa47a","credentials":{"githubApi":{"id":"GqBYkUhDAInf9NeG","name":"GitHub account api"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"1e741457-70d6-4812-ad8d-c6799dc8e190","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-4992,544]},{"parameters":{"filters":{},"requestOptions":{}},"id":"b15c3975-c9b1-4dd5-9394-889d51652003","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-4784,544],"credentials":{"n8nApi":{"id":"RddbkUcBrtb5oBKK","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"bebbd8e7-b5f9-4610-b83b-55d34be2116c","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-4592,544]},{"parameters":{"batchSize":1,"options":{}},"id":"6748f9d4-81b8-4c13-a9a3-df79de087d54","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-4352,544]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"c7237bbb-8b10-41b4-9b5e-502074df0760","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[-4112,464]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"Senja230310-collab","mode":"list","cachedResultName":"Senja230310-collab","cachedResultUrl":"https://github.com/Senja230310-collab"},"repository":{"__rl":true,"value":"n8n_becap1911","mode":"list","cachedResultName":"n8n_becap1911","cachedResultUrl":"https://github.com/Senja230310-collab/n8n_becap1911"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"a119071e-93cf-45e9-a714-98f61c84be2a","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-3888,256],"webhookId":"03dbb659-e5a0-4cae-9891-3e6a779fc480","credentials":{"githubApi":{"id":"GqBYkUhDAInf9NeG","name":"GitHub account api"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"Senja230310-collab","mode":"list","cachedResultName":"Senja230310-collab","cachedResultUrl":"https://github.com/Senja230310-collab"},"repository":{"__rl":true,"value":"n8n_becap1911","mode":"list","cachedResultName":"n8n_becap1911","cachedResultUrl":"https://github.com/Senja230310-collab/n8n_becap1911"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"81bb7e1a-1d29-475c-b8c7-79007d417678","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-3888,656],"webhookId":"437da205-df05-4e08-8aa4-9e12d70b692a","credentials":{"githubApi":{"id":"GqBYkUhDAInf9NeG","name":"GitHub account api"}}}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"42de41be-2fa7-4967-8f3d-1cb5d280b9f4","triggerCount":0,"shared":[{"updatedAt":"2025-11-12T10:18:32.001Z","createdAt":"2025-11-12T10:18:32.001Z","role":"workflow:owner","workflowId":"lo6csGQH6ghQDKHt","projectId":"tPsJuwM0WWqY4bKR"}],"tags":[]}