backup-мой-copy12212-g5khsFbhMbDtv6SC.json
{"updatedAt":"2025-11-19T16:40:01.637Z","createdAt":"2025-11-19T16:40:01.637Z","id":"g5khsFbhMbDtv6SC","name":"BACKUP  мой copy12212","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"3f6b9e7d-bf58-4fd4-995e-ad1e0f8a6f4f","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-5984,544]},{"parameters":{"options":{}},"id":"f7ace881-d3f3-4371-b61a-42971ca7b8ba","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-5792,544]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"9748f15c-78df-4bbf-8062-5f7bf1e2e2c2","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-5584,544]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"247fcc2d-c0f9-4dc5-94b8-7897481ce74f","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-5392,544]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"Senja230310-collab","mode":"list","cachedResultName":"Senja230310-collab","cachedResultUrl":"https://github.com/Senja230310-collab"},"repository":{"__rl":true,"value":"n8n_becap1911","mode":"list","cachedResultName":"n8n_becap1911","cachedResultUrl":"https://github.com/Senja230310-collab/n8n_becap1911"},"filePath":"=","path":"1fdbd1f3-4ac3-43a8-b9b5-f6814588b6a9"},"id":"8e1cbf6b-7c59-42ab-8eff-0512ce170317","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-5184,544],"alwaysOutputData":true,"webhookId":"1fdbd1f3-4ac3-43a8-b9b5-f6814588b6a9","credentials":{}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"b1c2ec82-0f23-45ec-8414-ea41dd4d6241","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-4992,544]},{"parameters":{"filters":{},"requestOptions":{}},"id":"81585a96-b81e-4be6-b348-502e88f3a370","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-4784,544],"credentials":{}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"637417d8-955c-4cf3-9f41-0e986a207be1","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-4592,544]},{"parameters":{"batchSize":1,"options":{}},"id":"a72f5523-1382-4d7f-8557-fbc80f1f23ae","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-4352,544]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"2a7a5648-fa3c-499d-b776-253f4676e149","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[-4112,464]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"Senja230310-collab","mode":"list","cachedResultName":"Senja230310-collab","cachedResultUrl":"https://github.com/Senja230310-collab"},"repository":{"__rl":true,"value":"n8n_becap1911","mode":"list","cachedResultName":"n8n_becap1911","cachedResultUrl":"https://github.com/Senja230310-collab/n8n_becap1911"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}","path":"fd962fc0-de6f-45d7-a439-002bf66fffc0"},"id":"a1155464-c953-4d33-8bdb-aea028315b6f","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-3888,256],"webhookId":"fd962fc0-de6f-45d7-a439-002bf66fffc0","credentials":{}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"Senja230310-collab","mode":"list","cachedResultName":"Senja230310-collab","cachedResultUrl":"https://github.com/Senja230310-collab"},"repository":{"__rl":true,"value":"n8n_becap1911","mode":"list","cachedResultName":"n8n_becap1911","cachedResultUrl":"https://github.com/Senja230310-collab/n8n_becap1911"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}","path":"bc35aefb-cc54-4235-b486-df5049b42ecc"},"id":"0169462d-aa23-465a-bcad-2cc715c6db12","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-3888,656],"webhookId":"bc35aefb-cc54-4235-b486-df5049b42ecc","credentials":{}}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"73bbef20-92ce-4084-ac7d-4384de4af435","triggerCount":0,"shared":[{"updatedAt":"2025-11-19T16:40:01.637Z","createdAt":"2025-11-19T16:40:01.637Z","role":"workflow:owner","workflowId":"g5khsFbhMbDtv6SC","projectId":"tPsJuwM0WWqY4bKR"}],"tags":[]}