парсер-карт-suW6cVFuh7EQBrkT.json
{"updatedAt":"2025-11-19T16:34:04.766Z","createdAt":"2025-11-19T16:34:04.766Z","id":"suW6cVFuh7EQBrkT","name":"Парсер карт","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-2256,-144],"id":"869376d2-7f67-4365-a7ae-31a6786ab879","name":"When chat message received","webhookId":"b6f0a55e-a984-4f59-aa34-52bec749e157"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1280,320],"id":"35f21e8a-6923-45e6-9091-4795e2f4a64d","name":"OpenAI Chat Model"},{"parameters":{"jsonSchemaExample":"{\n\t\"email\": \"\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-1056,320],"id":"75d54b1b-5a90-459e-a804-f72bf1fedd66","name":"Structured Output Parser"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c7e5ba23-c82a-436c-8d29-a42df1d7ad04","leftValue":"={{ $json['Сайт'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1248,-144],"id":"2f9afa6c-0284-4e61-bcd4-4276e92f17db","name":"If"},{"parameters":{"fieldToSplitOut":"places","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2256,272],"id":"6a2d3346-0130-4a51-9f04-cf52e85c69ef","name":"Берем нужное"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1AqxF-zDp32wo5k9QsuW1pMpi8y3Tpqc_atOoNru_fOpTU/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"","mode":"list","cachedResultName":"","cachedResultUrl":""}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1728,-144],"id":"35621623-f707-4c67-bd15-fed241488518","name":"Читаем таблицу"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2048,112],"id":"00e72d5b-156b-480f-80a6-4e4a5b851ddf","name":"Loop"},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1AqxF32-zDpwo5k9QsuW1pMpi8y3Tpqc_atOoNru_fOpTU/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Лист1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1AqxF-zDpwo5k9QsuW1pMpi8y3Tpqc_atOoNru_fOpTU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Сайт":"={{ $json.website }}","Компания":"={{ $json.title }}","Телефон":"=`{{ $json.phoneNumber }}","Тип компании":"={{ $json.type }}","Рейтинг":"={{ $json.rating }}"},"matchingColumns":[],"schema":[{"id":"Компания","displayName":"Компания","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Телефон","displayName":"Телефон","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Тип компании","displayName":"Тип компании","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Сайт","displayName":"Сайт","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Рейтинг","displayName":"Рейтинг","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Майл","displayName":"Майл","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1888,112],"id":"0e49f3d1-f739-4254-be0e-5bd88dfac792","name":"Заполняем таблицу"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1568,-144],"id":"8aae2e54-9e5e-4ae4-9adc-a86cbf872c39","name":"Loop 1"},{"parameters":{"promptType":"define","text":"={{ $json.results[0].raw_content }}","hasOutputParser":true,"options":{"systemMessage":"=Ты — специалист по сбору информации с сайтов компаний. Твоя задача — извлечь email адрес или почту компании из предоставленного текста сайта.\n\n📄 Вот что тебе передаётся:\n- Неформатированный текст с сайта (без HTML)\n- Могут быть телефоны, адреса, акции — твоя цель именно email и почта.\n\n📦 Формат ответа — **строго JSON**, без лишнего текста:\nexample@domain.com\nЕсли email не найден, верни: не найден"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-1264,80],"id":"b49bc27f-5009-47df-9d0a-97028e78cf80","name":"Поиск Email","retryOnFail":true},{"parameters":{"method":"POST","url":"https://google.serper.dev/maps","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"q","value":"={{ $json.chatInput }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2256,80],"id":"ba02a1c9-5687-413e-8452-94b3c74e3cdd","name":"Поиск бизнесов"},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1AqxF-zD32pwo5k9QsuW1pMpi8y3Tpqc_atOoNru_fOpTU/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Лист1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1AqxF-zDpwo5k9QsuW1pMpi8y3Tpqc_atOoNru_fOpTU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Сайт":"={{ $('Вытаскиваем данные с сайта').item.json.results[0].url }}","Майл":"={{ $json.output.email }}"},"matchingColumns":["Сайт"],"schema":[{"id":"Компания","displayName":"Компания","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Телефон","displayName":"Телефон","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Тип компании","displayName":"Тип компании","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Сайт","displayName":"Сайт","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Рейтинг","displayName":"Рейтинг","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Майл","displayName":"Майл","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-944,80],"id":"2176d035-a6c2-4568-be7a-b5e4a22d0455","name":"Добавляем Email"},{"parameters":{"method":"POST","url":"https://api.tavily.com/extract","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer TVOY-KLUCH"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"urls\": [\"{{ $json['Сайт'] }}\"],\n  \"include_images\": false,\n  \"extract_depth\": \"basic\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1088,-144],"id":"fa617cc1-7212-43da-91ec-f4a9b2852db4","name":"Вытаскиваем данные с сайта","retryOnFail":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1888,-144],"id":"a1b347a0-f6a0-4308-9927-d28b07ea496a","name":"When clicking ‘Test workflow’"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"21e7e5fa-8769-4435-9650-4f5fa92359ef","leftValue":"={{ $json.results[0].raw_content }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-816,-160],"id":"9b00d868-4e9d-4ece-9803-d9f3e1d45898","name":"If1"}],"connections":{"When chat message received":{"main":[[{"node":"Поиск бизнесов","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Поиск Email","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Поиск Email","type":"ai_outputParser","index":0}]]},"If":{"main":[[{"node":"Вытаскиваем данные с сайта","type":"main","index":0}],[{"node":"Loop 1","type":"main","index":0}]]},"Берем нужное":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Читаем таблицу":{"main":[[{"node":"Loop 1","type":"main","index":0}]]},"Loop":{"main":[[],[{"node":"Заполняем таблицу","type":"main","index":0}]]},"Заполняем таблицу":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Loop 1":{"main":[[],[{"node":"If","type":"main","index":0}]]},"Поиск Email":{"main":[[{"node":"Добавляем Email","type":"main","index":0}]]},"Поиск бизнесов":{"main":[[{"node":"Берем нужное","type":"main","index":0}]]},"Добавляем Email":{"main":[[{"node":"Loop 1","type":"main","index":0}]]},"Вытаскиваем данные с сайта":{"main":[[{"node":"If1","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Читаем таблицу","type":"main","index":0}]]},"If1":{"main":[[{"node":"Поиск Email","type":"main","index":0}],[{"node":"Loop 1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5c01fb9f-e2ee-4cc1-b096-2edf7bb5c62e","triggerCount":0,"shared":[{"updatedAt":"2025-11-19T16:34:04.766Z","createdAt":"2025-11-19T16:34:04.766Z","role":"workflow:owner","workflowId":"suW6cVFuh7EQBrkT","projectId":"tPsJuwM0WWqY4bKR"}],"tags":[]}